@font-face {
  src: url(../public/fonts/Comix\ Loud.ttf);
  font-family: comix;
}

@font-face {
  src: url(../public/fonts/NotoSans-Regular.ttf);
  font-family: noto;
}

@font-face {
  src: url(../public/fonts/RubikBubbles-Regular.ttf);
  font-family: rubik;
}

* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  --title: #980a24;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: noto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.titleComix {
  margin: 30px;
  color: var(--title);
  font-family: comix;
  font-size: 20px;
  letter-spacing: 4px;
}

@media (max-width: 796px) {
  .buttonMenu {
    display: block;
  }
  .logo,
  .links {
    display: none;
  }
}
.loading {
  text-align: center;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.gaucho {
  background-image: url(../public/img/gaucho.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes updown {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px); 
  }
}

@keyframes rotateInfinity {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes runMaki {
  0% {
    right: -240px;
  }
  25% {
    background-image: url(../public/img/maki/Runcolor.gif);
    margin-top: 40px;
  }
  30% {
    margin-top: 0px;
  }
  35% {
    margin-top: 40px;
    background-image: url(../public/img/maki/Runcolor.gif);
  }

  100% {
    right: 550px;
  }
}

@keyframes rotatePresentation {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(0deg);
  }
}

@keyframes runMakiResponsive {
  0% {
    right: -280px;
  }
  25% {
    background-image: url(../public/img/maki/Runcolor.gif);
    margin-top: 40px;
  }
  30% {
    margin-top: 0px;
  }
  35% {
    margin-top: 40px;
    background-image: url(../public/img/maki/Runcolor.gif);
  }

  100% {
    right: 700px;
  }
}

.makiAnimation {
  width: 200px;
  height: 200px;
  background-image: url(../public/img/maki/Runcolor.gif);
  background-size: 200px;
  transform: rotateY(180deg);
  margin-top: 40px;
  right: -200px;
  position: absolute;
}

/*.contentImage:hover .makiAnimation {
  animation: runMaki 3.5s;
}*/

.contentMaki {
  overflow: hidden;
  width: 400px;
  height: 300px;
  position: absolute;
  margin-top: -195px;
  margin-left: 98px;
}

.circle.creativity {
  background-image: url(../public/img/creativity.png);
  background-size: 200px;
}

.circle.work {
  background-image: url(../public/img/teamwork.png);
  background-size: 200px;
}

.circle.pasion {
  background-image: url(../public/img/pasion.png);
  background-size: 200px;
}

.divAbout:hover .circle.creativity {
  background-image: url(../public/img/creativityWhite.png);
}

.divAbout:hover .circle.work {
  background-image: url(../public/img/teamworkWhite.png);
}

.divAbout:hover .circle.pasion {
  background-image: url(../public/img/pasionWhite.png);
}